[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python3-6 = "*"
django = "*"

[packages]
django = "*"
python = "*"
djangorestframework = "*"

[requires]
python_version = "3.6"
